body {
  box-sizing: border-box;
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.info {
  margin-top: -15px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.slide {
  border-right: 1px solid black;
  padding-right: 5px;
}
#mail {
  text-decoration: underline;
}
.port {
  color: blue;
  text-decoration: underline;
}
section {
  margin: 0px 40px;
}
.education {
  border-bottom: 1px solid black;
  margin-top: 10px;
  height: 22px;
}
.experience {
  border-bottom: 1px solid black;
  margin-top: 10px;
  height: 22px;
}
.school {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  margin-top: -5px;
}
#dept {
  margin-top: -30px;
}
.moreinfo {
  font-size: 20px;
}
#newinfo {
  margin-top: 5px;
}
.hide {
  visibility: hidden;
}
#foodid {
  margin-top: -60px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 10px;
  }
  .info {
    font-weight: 100;
    font-size: xx-small;
    margin-top: -10px;
  }
  .education {
    font-size: 12px;
    font-weight: 100;
  }
  .experience {
    font-size: 12px;
    font-weight: 100;
  }
  .school {
    font-size: 10px;
    letter-spacing: -0.5px;
  }
  #dept {
    margin-top: -20px;
  }
  .moreinfo {
    font-size: 12px;
  }
  img {
    height: 10rem;
    width: 10rem;
    vertical-align: middle;
  }
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
.slideshow-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
  height: 30rem;
  width: 20rem;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
